::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /**/
}

::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

::-webkit-scrollbar-corner {
  background: #bfbfbf;
}

:root {
  --link: #007fff;
  --pink: #FF6699;
  --text2: #61666d;
  --icon: #9499a0;
}

body {
  padding: 0px;
  margin: 0px;
  background: rgb(243, 243, 243);
}

* {
  box-sizing: border-box;
}

.a-link {
  text-decoration: none;
  color: var(--link);
  cursor: pointer;
}

.el-form-item {
  align-items: center;
}

.container-body {
  max-width: 1200px;
  /* 或你主内容的宽度 */
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
}

.tag {
  font-size: 12px;
  border-radius: 3px;
  padding: 0px 5px;
  margin-right: 5px;
  font-weight: normal;
}

.tag-no-audit {
  color: var(--text2);
  border: 1px solid var(--text2);
}

.op-btn {
  display: flex;
  align-items: center;
  gap: 10px; // 按钮之间的间距

}

.quick-panel {
  position: fixed;
  left: 150px;
  /* 距离页面左侧30px，可调 */
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  z-index: 1000;

  .el-badge_content.is-fixed {
    top: 5px;
    right: 15px;
  }

  .quick-item {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 30px;
    cursor: pointer;

    .iconfont {
      font-size: 22px;
      color: var(--text2);
    }

    .have-like {
      color: red;
    }
  }
}